.header
{
	font-weight:bold; 
	font-size:60px;
}

.sub-header
{
	font-size:30px;
}

.alegreya
{
	font-family: 'Alegreya';
}

.cabbin
{

	font-family: 'cabin';
}

.signin-jumbotron 
{
  background: url("//localhost/php_project/Images/gradient1.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("//localhost/php_project/Images/home/background1.jpg")no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-nav-collapse {
    background-color: #24355C;
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }

#style-1::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
  background-color: #F90; 
  background-image: -webkit-linear-gradient(45deg,
                                            rgba(255, 255, 255, .2) 25%,
                        transparent 25%,
                        transparent 50%,
                        rgba(255, 255, 255, .2) 50%,
                        rgba(255, 255, 255, .2) 75%,
                        transparent 75%,
                        transparent)
}

.scrollbar {

    overflow-y: scroll;
}

